.notification {
  display: block;
  padding: 10px 30px;
  background-color: var(--main-danger-color);
  border-radius: 8px;
  position: absolute;
  top: 113px;
  transform: translate(-50%, 0);
  left: 50%;
  color: var(--main-light-color);
  font-weight: bold;
  pointer-events: none;

  & p {
    margin: 0;
  }
}
