.table {
  color: var(--main-dark-color);
  margin: 0 auto;

  & thead {
    & th {
      font-weight: bold;
      background: var(--main-color);
    }

    & tr {
      box-sizing: border-box;

      &:nth-child(even) {
        &:hover {
          background: var(--main-hover-color);
        }
      }

      & th {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
        width: 200px;

        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }
    }
  }

  & tbody {
    & tr {
      cursor: pointer;

      &:nth-child(even) {
        background: var(--main-grey-color);
      }

      & td {
        text-align: left;
        border: none;
        padding: 10px 15px;
        font-size: 14px;
        vertical-align: top;
        width: 200px;
        min-width: 100px;
        transition: color 0.7s ease-in-out;

        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }

      &:hover {
        background: var(--main-hover-color);
      }
    }
  }
}
