:root {
  --main-color: #acbb97;
  --main-light-color: #fff;
  --main-dark-color: #363636;
  --main-hover-color: rgba(172, 187, 151, 0.4);
  --main-grey-color: rgba(74, 74, 74, 0.1);
  --main-danger-color: rgba(253, 51, 51, 0.9);
  --main-black-color: #000;
  --main-green-color: rgb(82, 184, 82);
}
